.user_img {
    display: inline-block;
    overflow: hidden;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.user_img img {
    display: block;
}

.user_img__edit img {
    cursor: pointer;
    display: block;
}

.contacts {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 20px;
}

.contacts a {
    text-decoration: none;
    color: cornsilk;
}

.contacts a:hover {
    text-decoration: underline;
}

.profile hr {
    border: none;
    height: 2px;
    color: rgb(47, 51, 54);
    background-color: rgb(47, 51, 54);
}

.input_file {
    display: none;
}

.file_upload {
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 20px;
    background: rgb(113, 114, 121);
    border-radius: 2px;
    color: rgb(199, 189, 189);
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.file_upload:hover {
    background: rgb(86, 97, 109);
}

.file_upload .label {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file_upload .span {

    line-height: 10px;
    font-size: 10px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    color: rgb(199, 189, 189);
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn_secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn_secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}