.users_page {
  text-align: center;
}
.users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 15px auto;
}

.user_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_item__center {
  text-align: center;
}

.user_img {
  display: inline-block;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.user_img img {
  display: block;
}

.user_img:hover {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.btn {
  cursor: pointer;
  display: inline-block;
  color: rgb(199, 189, 189);
  outline: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn_secondary {
  background-color: #707070;
  border-color: #6c757d;
}

.btn_secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
