.preloader {
    display: block;
    margin: 20px auto;
}

.preloader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(140, 155, 167);
    opacity: .5;
}

.preloader_app {}