.input,
.input_profile,
.textarea {
  position: relative;
}

.textarea {
  width: 100%;
  height: 60px;
}

.textarea textarea {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: rgb(211, 202, 202);
  color: rgb(71, 70, 66);
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
}

.input_profile input {
  width: 200px;
  padding: 3px;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: rgb(211, 202, 202);
  color: rgb(71, 70, 66);
  font-size: 14px;
  font-weight: bold;
}

.error input {
  border: 1px solid red;
}

.textError {
  position: absolute;
  left: 0;
  top: 20px;
  font-size: 12px;
  color: crimson;
}

.forTeaxtarea {
  top: 60px;
}

.button {
  display: block;
  margin: 15px auto 0;
  height: 25px;
  font-weight: bold;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  outline: none;
  background-color: rgb(211, 202, 202);
  color: rgb(71, 70, 66);
}